*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.5px;
}

.grid{
    width:100%;
    height: 100%;
    display: grid;
}

/* navbar */

.nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
}
.logo{
    flex-grow: 5;
    margin-left: 145px;
}
.nav-link{
    flex-grow: 4;
    font-size: 14px;
    
}
.nav-link a{
    padding-right: 19px;
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: aqua;
    transition-duration: 270ms;
}

/* hero section */

.hero{ 
    width: 100%;
    height: 90vh;
    background-image: url("images/Light_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overly{
    margin-left: 140px;
    margin-top: 240px;
    position: absolute;
}

/* down */
.down{
    display: flex;
    width: 100%;
    height: 65vh;
    flex-flow: row wrap;
    margin-left: 140px;
    margin-top: 148px;
}

.down div{
    padding-right: 34px;
    letter-spacing: 2px;
    color: rgb(39, 39, 39);
}
.down p{
    padding-top: 38px;
    text-align: center;
}

/* footer */
.footer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer svg{
    padding: 7px;
    opacity: .9;
}
.footer-down{
    width: 100%;
    height: 138px;

}